.form-control, .btn, input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.search{
    position: relative;
    height: 61px;
    background-color: #F8F8F8;
}
.search .searchCollapseIcon{
    position: absolute;
    left: 34px;
    top: 17px;
    width: 34px;
    height: 27px;
    background-image: url(sprite.png);
    background-position-x: 559px;
}
.search .profile{
    width:40px;
    height:40px;
    border:2px solid #3B91D3;
    float: right;
    margin: 12px 5px auto auto;
    border-radius: 50%;
    background-image: url(https://1.bp.blogspot.com/-9nLGuzwGeuo/V07xBpjog1I/AAAAAAAAFaI/vcVqrb51QsgfERcoGn3ve3Nq0Fpy2lJQwCLcB/s1600/Harry%2BPotter.jpg);
    background-size: 100%;
}
.search .searchIcon{
    position: absolute;
    right:48px;
    top:10px;
    background-image: url(sprite.png);
    background-position: 151px -49px;
    width:43px;
    height: 46px;
}
.search .searchProfile{

}
.searchPopup{
    height: 75px;
    position: relative;
}
.searchBar{
    position:absolute;
    left: 33px;
    top: 20px;
    height: 34px;
    width: 95%
}
.searchBar .content{
    position: absolute;
    top: 0;
    height:36px;
    width: 122px;
}
.searchBar .go{
    height: 100%;
    width: 84px;
    float: right;
}

.menu{
    height: 146px;
    background-color: black;
    padding-top: 28px;
}
.menuItems{
    margin: auto;
    width: 670px;
    height: 96px;
}
.menuItem{
    float: left;
    position: relative;
    width: 56px;
}
.menuItemWord{
    color:white;
    font-size: 18px;
    position: absolute;
}
.passport .menuItemWord{
    left: -9px;
}
.projects .menuItemWord{
    left: -2px;
}
.workGroups .menuItemWord{
    left:-17px;
}
.roleProfiles .menuItemWord{
    left: -20px;
    width: 150px;
}
.communities .menuItemWord{
    left: -20px;
}
.communities{
    height: 118px;
}

.arrow{
    margin: 46px auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #eaeaea transparent;
}
.menuIcon{
    width: 100%;
    height: 57px;
    background-image: url(sprite.png);
}
.passport{
    margin-right: 74px;
    width: 55px;
}
.passport .menuIcon{
    background-position: 500px -56px;
}

.projects{
    margin-right: 86px;
    width: 63px;
}
.projects .menuIcon{
    background-position: 579px -50px;
    height: 61px;
}
.workGroups{
    width: 56px;
    margin-right: 107px;
}

.workGroups .menuIcon{
    background-position: 650px -53px;

}
.roleProfiles{
    width: 58px;
    margin-right: 105px;
}
.roleProfiles .menuIcon{
    height: 58px;
    background-position: 348px -52px;
}
.communities{
    width: 64px;
}
.communities .menuIcon{
    background-position: 424px -56px;
}
.intro{
    height: auto;
    background-color: #EAEAEA;
    padding: 18px 21px 19px 76px;
}
.intro .crownIcon{
    width: 118px;
    height: 120px;
    background-image: url(sprite.png);
    background-position: 350px -349px;
    zoom: .712;
    border-radius: 50%;
}
p{
    padding-top:11px;
}
.toolIcon{
    width: 36px;
    height:  36px;
    background-image: url(sprite.png);
    background-position: 210px -50px;
    margin-top:11px;
    float:right;
}
.filterInput{
    margin-left:87px;
    width:246px;
}
.filterInput, .alphabet{
    margin-top: 27px;
    float: left;
}
.alphabet{
    margin-left: 45px;
    font-size: 16px;
    padding-top:6px;
    clear: right;
}
.letter{
    padding:4px;
    color:#BCBCBC;
}
.letter.selected{
    color:white;
    text-decoration: none;
}
.letterItem {
    display: inline-block;
    width:22px;
    height:21px;
    position: relative;
}
.letterItem .shadow{

    width: 22px;
    height: 21px;
    background-color: #3D83AB;
    border-radius: 50%;
    position: absolute;
    top:0px;
    left:-2px;
    z-index:-1

}

.letter:hover{
    text-decoration: none;
}
.emailIcon{
    position:relative;
    margin-top: 25px;
    margin-right: 107px;
    float: right;
    width: 44px;
    height: 42px;
    background-image: url(sprite.png);
    background-position-x: 509px;
    zoom:.727;
}
.emailPopup{
    width: 177px;
    height: 32px;
    background-color: #1F2532;
    position: absolute;
    top: -35px;
    left: -67px;
    padding-top: 4px;
    font-size: 14px;
    color: white;
    text-align: center;
}
.emailPopupArrow{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 6.5px 0 6.5px;
    border-color: #1f2532 transparent transparent transparent;
    margin:0 auto;
    margin-top: -3px;
}
.names{
    clear: both;
    margin:0 87px;
    padding:52px 0;
    padding-bottom: 0;
}

.userProfile {
    position: relative;
    padding-left: 3px;
    padding-bottom: 39px;
    min-width:200px;
}
.userProfile .selectArea{
    width: 60px;
    height: 20px;
    background-color: #CCC;
    margin-top:40px;
    padding-top: 1px;
    padding-left:22px;
}
.selectArea input{
    display: block;
    padding-top:0px;
    margin-top: 3px;
}
.words{
    float: left;
    padding-left:10px;
}
.words .name{
    color: #77A6CF;
    padding-top: 5px;
    font-size: 15px;
}
.words .email{
    font-size: 14px;
}
.userPhoto{
    float:left;
    width:60px;
    height: 60px;
    border: 2px solid #CCC;
    padding:0;
    margin: 0;
    overflow: hidden;
    background-image: url(https://1.bp.blogspot.com/-9nLGuzwGeuo/V07xBpjog1I/AAAAAAAAFaI/vcVqrb51QsgfERcoGn3ve3Nq0Fpy2lJQwCLcB/s1600/Harry%2BPotter.jpg);
    background-size: 100%;
    border-radius: 50%;
}
.loadMore{
    margin: 0 87px;
    text-align: center;
}
.loadMoreButton{
    background-color: #198074;
    color: #FFF;
    width: 180px;
    height: 40px;
}
